[Unit]
Description=GRASP THE FUTURE CORE SERVER
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/Desktop/GRASP_THE_FUTURE/
ExecStart=python3 /home/pi/Desktop/GRASP_THE_FUTURE/server.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target